/*.add-new-deck-button {*/
/*    margin: 3vh 0 0;*/
/*    height: 5vh;*/
/*}*/

.folder-div {
    display: grid;
    width: 310px;
    gap: 1rem;

    --deck-folder-background: rgb(120, 120, 120);
}

.folder-header-container {
    max-height: 10rem;
    text-align: left;
    font-size: 24px;
    overflow: hidden;

    background-color: var(--deck-folder-background);
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-inline: 1rem;
}

.show-new-deck-container-btn {
    font-size: 16px;
    margin-inline: auto;
    height: 44px;
    max-height: 44px;
    width: 10rem;
    background: var(--deck-folder-background);
}

.folder-name {
    font-weight: bold;
    padding-block: 0.5rem;
}

.folder-header-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 50px;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    padding: 0;
    text-align: center;
    font-size: 18px;

    transition: background-color 0.3s, transform 0.2s;
}

.folder-header-btn:hover {
    background-color: #9f9f9f;
}

.folder-header-btn:focus {
    background-color: #9f9f9f;
}

.folder-header-btn > img {
    width: 20px;
    height: 20px;
}


.dropdown-group {
    /*margin-left: 5vh;*/
    display: grid;
    gap: 1rem;
    padding-inline: 10px;

    transition: height 0.5s ease-in-out;

    height: 0;
    overflow: hidden;
}

.dropdown-group.expanded {
    height: calc-size(auto, size);
}

.new-deck-container {
    background-color: var(--deck-folder-background);
    border-radius: var(--border-radius); /*border-radius: 5px;*/
    padding: 8px;
    height: 180px;

    transition: height 0.5s ease;
}

.new-deck-container h2 {
    text-align: center;
    margin-block: 0.75rem;
}

.hidden-container {
    /*display: none;*/

    height: 0 !important;
    overflow: hidden;
}

.hidden {
    display: none;
}

.new-deck-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.new-deck-form-controls {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.new-deck-form-controls button {
    padding-inline: 1rem;
    width: 7rem;
}

.cancel-btn {
    background-color: #8c8c8c;
}

.cancel-btn:hover {
    background-color: #9a9a9a;
}

.deck-text-input {
    background-color: #9a9a9a;
    color: inherit;
    border: 1px solid #d8d8d8;
    /*border-bottom: 1px solid #dfdfdf;*/
    border-radius: 10px;
    /*width: 64px;*/
    /*height: 32px;*/
    padding: 6px;
    /*text-align: center;*/
    font-size: 14px;
    /*outline: 1px solid #dfdfdf;*/

    resize: none;

    transition: background-color 0.3s;
}

.deck-text-input::placeholder {
    color: #dadada;
}

.deck-text-input:hover {
    background-color: #8f8f8f;
}

.deck-text-input:focus {
    background-color: #8f8f8f;
}


.deck-link {
    border-radius: var(--border-radius);
    padding-bottom: 8px;
}

.deck-link:hover {
    outline: none;
}

.deck-card-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.deck-card-text-area {
    display: flex;
    flex-direction: column;
    flex: 2; /* Make the bigger flex element */
}

.deck-name {
    font-size: 20px;
    font-weight: bold;
    margin-block: 0.75rem;
}

.deck-description {
    /*margin-left: 3vh;*/
    margin-block: 0.75rem;
    font-size: 16px;
    color: rgb(234, 234, 234);
}

.delete-deck-btn {
    margin-top: 0.75rem;
}


.rotated-90 {
    transform: rotate(-90deg);
}

.display-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}


.card-stack {
    --card-width: 275px;
    --card-height: 220px;
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
}

.deck-card {
    position: absolute;
    border-radius: 25px;
    padding: 10px;

    transition: .2s transform;

    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 36px;*/
    color: white;
    overflow: hidden;

    /* drop-shadow( <length> <length> <length> <color> ) */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.card-1 {
    background-color: #959595FF; /* var(--card-colour) */
    width: calc(var(--card-width) - 20px);
    height: calc(var(--card-height) - 20px);
}

.card-2 {
    background-color: #858585;
    width: calc(var(--card-width) - 30px);
    height: calc(var(--card-height) - 30px);
    transform: translate(18px, 5px);
}

.card-3 {
    background-color: #7c7c7c;
    width: calc(var(--card-width) - 40px);
    height: calc(var(--card-height) - 40px);
    transform: translate(36px, 10px);
}

.card-stack:hover .card-1 {
    transform: rotate(-2deg);
}

.card-stack:hover .card-2 {
    transform: translate(18px, 5px) rotate(2deg);
}

.card-stack:hover .card-3 {
    transform: translate(36px, 10px) rotate(5deg);
}