.edit-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: darkgray;
    height: 12rem;
    width: 15rem;
    border-radius: 25px;
}

#new-card {
    color: inherit;
    background-color: unset;
    border: none;
    font: inherit;
    /*outline: inherit;*/
    box-sizing: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    outline: 4px dashed grey;
    outline-offset: -4px;

    padding: 16px;
    height: 12rem;
    width: 15rem;
    border-radius: 25px;

    font-size: 20px;

    transition: background-color 0.3s;
}

#new-card:hover {
    background-color: rgba(169, 169, 169, 0.1);
}

.text-header {
    margin-block: 0.4rem;
}

.text-input {
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    /*border-bottom: 1px solid #dfdfdf;*/
    /*border-radius: 10px;*/
    /*width: 64px;*/
    /*height: 32px;*/
    padding: 0;
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*outline: 1px solid #dfdfdf;*/

    transition: border-bottom 0.2s;
}

.text-input:hover {
    border-bottom: 1px solid #dfdfdf;
}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 1rem;
}

.index-number-input {
    background-color: grey;
    color: inherit;
    border: none;
    border-radius: 10px;
    width: 64px;
    height: 32px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    outline: 1px solid #dfdfdf;
}

.index-buttons {
    background-color: transparent;
    color: inherit;
    border: none;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

    transition: background-color 0.3s;
}

.index-buttons:hover {
    background-color: #9f9f9f;
}