.static {
    position: static;
}

#modal-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 75%;
}

#modal-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
}

#modal-body {
    margin-inline: 2rem;
    margin-block: 2rem;
    background-color: dimgrey;
    color: white;
    border-radius: 25px;
    min-width: 50vw;
}

#modal-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-btn {
    padding-inline: 4rem;
    padding-block: 1rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
}

.save-btn {
    background-color: #1698ff;
    color: white;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    justify-content: center;
    margin-inline: 1rem;
    margin-block: 1rem;
    overflow-x: hidden;
    max-height: 50vh;
}