img {
    -webkit-user-drag: none;
}

.card {
    display: flex;
    padding: 16px;
    height: 14rem;
    width: 28rem;
    border-radius: 25px;

    /*flex: 1 1 auto;*/
}

.edit-card {
    flex-direction: column;
    background-color: darkgray;
}

#new-card {
    color: inherit;
    background-color: unset;
    border: none;
    font: inherit;
    /*outline: inherit;*/
    box-sizing: unset;

    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    outline: 4px dashed grey;
    outline-offset: -4px;

    font-size: 20px;

    transition: background-color 0.3s;
}

#new-card:hover {
    background-color: rgba(169, 169, 169, 0.1);
}

.text-header {
    margin-block: 0.4rem;
    font-weight: bold;
}

.text-input {
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    /*border-bottom: 1px solid #dfdfdf;*/
    /*border-radius: 10px;*/
    /*width: 64px;*/
    /*height: 32px;*/
    padding: 0;
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*outline: 1px solid #dfdfdf;*/

    transition: border-bottom 0.2s;
}

.text-input:hover {
    border-bottom: 1px solid #dfdfdf;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.index-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.index-number-input {
    background-color: grey;
    color: inherit;
    border: none;
    border-radius: 10px;
    width: 64px;
    height: 32px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    outline: 1px solid #dfdfdf;
}

/* Disable margin for inputs in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.placeholder {
    width: 28px;
    height: 28px;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

    transition: background-color 0.3s;
}

.card-btn:hover {
    background-color: #9f9f9f;
}

.card-btn > img {
    width: 20px;
    height: 20px;
}

.disabled {
    cursor: default;
    background-color: transparent !important;
    color: #cccccc !important;
}