.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.deck-folders-container {
    position: absolute;
    top: 135px;
    bottom: 12px;
    left: 12px;
    right: 12px;

    display: flex;
    padding-block: 1em;

    /*height: 80vh;*/

    background-color: var(--content-container-bkgr-colour);
    border-radius: var(--border-radius);
}

.deck-folders {
    /*height: -webkit-fill-available;*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;

    overflow-y:  scroll;
    /*overflow-x: hidden;*/

    padding-left: 17px; /* TODO: Ensure this is correct for scrollbar width*/
    scrollbar-color: #a8a8a8 transparent; /* TODO: Change colour? */
    margin-inline: 5px;
}

/*.deck-folders::-webkit-scrollbar {*/
/*    width:30px;*/
/*    background:transparent;*/
/*}*/

/*.deck-folders::-webkit-scrollbar-thumb {*/
/*    border: 10px solid rgba(0, 0, 0, 0);*/
/*    background-clip: padding-box;*/
/*    border-radius: 9999px;*/
/*    background-color: #AAAAAA;*/
/*}*/

.home-header > button {
    height: 5rem;
    width: 15rem;
    font-size: calc(14px + .5vw);
    gap: 8px;
}

/*.home-header > button > img {*/
/*    height: 18px;*/
/*    !*color: white;*!*/
/*}*/