.play-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
}

.return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #666;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


@keyframes float-in {
    0% {
        left: -800px; top: -800px;
        transform: rotate(120deg)
    }
    /*20%  {left:-400px; top:-400px; transform: rotate(20deg);}*/
    /*40%  {left:-300px; top:-300px; transform: rotate(20deg);}*/
    50% {
        left: -300px; top: -500px;
    }
    /*60%  {left:-200px; top:-200px; transform: rotate(20deg);}*/
    /*80%  {left:-100px; top:-100px; transform: rotate(20deg);}*/
    100% {
        left: 0; top: 0;
    }
}

@keyframes reveal {
    0% {
        /*transform: rotateX(0deg);*/
    }
    49% {
        /*transform: rotateX(90deg);*/
        transform: rotateX(90deg) rotateY(0deg) rotateZ(15deg);
        /*width: 55%;*/
    }
    51% {
        /*transform: rotateX(90deg);*/
        transform: rotateX(90deg) rotateY(0deg) rotateZ(-15deg);
        /*width: 55%;*/
    }
    100% {
        /*transform: rotateX(0deg);*/
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        /*width: 60%;*/
    }
}

#card-display {
    background-color: #888;
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;

    /*position: relative;*/
    /*animation-name: float-in;*/
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.reveal {
    animation-name: reveal;
}

.card-content {
    font-size: 32px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}

button {
    background-color: #555;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.toggle-answer-button {
    background-color: #555;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
}